<!--<script type="text/javascript" src="../view/admin/js/jquery.min.js"></script>-->
<script type="text/javascript" src="../view/admin/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="../view/admin/layer/layer.min.js"></script>
<script type="text/javascript" src="../view/admin/js/H-ui.js"></script>
<script type="text/javascript" src="../view/admin/js/H-ui.admin.js"></script>


<script type="text/javascript" src="../view/admin/js/pagenav.cn.js"></script>
<script type="text/javascript" src="../view/admin/js/pagenav.include.js"></script>
<!--<script type="text/javascript" src="../view/admin/plugin/My97DatePicker/WdatePicker.js"></script>-->
<!--<script type="text/javascript" src="../view/admin/js/jquery.dataTables.min.js"></script>-->