<!doctype html>
<html lang="en">
<head>

<!--引入top-->
<?php include('./top.php'); ?>

<title>我的桌面</title>
</head>
<body>
<div class="pd-20" style="padding-top:20px;">
    <p><?php echo $msg ?>
      <span>
        <a style="background-color: #3498db;color:#FFFFFF; padding: 5px;border: #fcfcfc; solid 2px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;" href="javascript:history.back()">返回上一页</a>
      </span>
    </p>

</div>

<!--引入foot-->
<?php include('./foot.php'); ?>
</body>
</html>