<!-- top start -->
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../view/admin/js/html5.js"></script>
<script type="text/javascript" src="../view/admin/js/respond.min.js"></script>
<script type="text/javascript" src="../view/admin/js/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="../view/admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="../view/admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="../view/admin/font/font-awesome.min.css"/>

<!-- 引入 bootstrap -->
<!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!-- 引入 bootstrap -->

<link type="text/css" rel="stylesheet" href="../view/admin/css/bootstrap.min.3.3.5.css"/>
<link type="text/css" rel="stylesheet" href="../view/admin/css/bootstrap-theme.min.3.3.5.css"/>
<link type="text/css" rel="stylesheet" href="../view/admin/css/jquery-ui.min.1.12.0.css"/>


<script type="text/javascript" src="../view/admin/test/js/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="../view/admin/js/bootstrap.min.3.3.5.js"></script>
<script type="text/javascript" src="../view/admin/js/jquery-ui.min.1.12.0.js"></script>



<!--[if IE 7]>
<link href="../view/admin/font/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!-- top end -->