<!-- BOTTOM -->

<div id="foot">

    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="bottom-con">

                    <h5>我们的地址</h5>
                    <hr class="head-border-white">

                    <div class="">
                        <!--<p><i class="fa fa-flag"><span> 中国</span></i></p>-->
                        <p><i class="fa fa-map-marker"><span>  江西省上饶市</span></i></p>
                        <p><i class="fa fa-location-arrow"><span> 哈哈哈大道456号</span></i></p>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="bottom-con">

                    <h5>我们的联系方式</h5>
                    <hr class="head-border-white">

                    <div class="">
                        <p><i class="fa fa-phone"><span> +86 021 123456</span></i></p>
                        <p><i class="fa fa-envelope"><span> abcd@hotmail.com</span></i></p>
                        <!--<p><i class="fa fa-print"><span> +86 021 123456</span></i></p>-->
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4">

                <div class="bottom-con">

                    <h5>留下您的联系方式</h5>
                    <hr class="head-border-white">

                    <form action="#" method="post" class="newsletter">
                        <div class="input-group">
                            <span class="input-group-addon .glyphicon-envelope"><i class="fa fa-envelope orange"></i></span>
                            <input type="email" class="form-control input-md" placeholder="填入您的email" disabled="disabled">
                        </div>
                        <br>

                        <div class="control-group submit center">
                            <input type="submit" value="提交" class="btn btn-md btn-primary" />
                        </div>

                    </form>

                </div>

            </div>

    <div class="col-lg-12 col-md-12 footer"  style="color: #7aba7b;font-size: 1px;">
        <span>
            赣ICP备11111111号-1 | 建议浏览器版本Chrome/FireFox
        </span><br />
        <span>
            Copyright &copy;2016 |
            <span class="power">Power by NICK</span>
        </span>
    </div>

        </div>
    </div>

</div>

<!-- FOOTER END -->

<!-- END PRIMARY LAYOUT
====================== -->


<!-- JAVASCRIPT
================================================== -->

<!-- BOOTSTRAP JAVASCRIPT -->
<script type="text/javascript" src="./view/front/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="./view/front/js/bootstrap.min.js"></script>

<!-- CUSTOM JAVASCRIPT -->
<!-- Custom Functions -->
<script type="text/javascript" src="./view/front/js/functions.js"></script>

<!-- Portfolio with mixitup filter and prettyphoto -->
<script type="text/javascript" src="./view/front/js/jquery.mixitup.min.js"></script>
<!-- Magnific Popup core JS file -->
<script type="text/javascript" src="./view/front/js/magnific.js"></script>

<!-- BxSlider -->
<script type="text/javascript" src="./view/front/js/jquery.bxslider.min.js"></script>

<!-- Sequence Slider -->
<script type="text/javascript" src="./view/front/js/jquery.sequence-min.js"></script>

<!-- Parallax Background -->
<script type="text/javascript" src="./view/front/js/nbw-parallax.js"></script>
<script type="text/javascript" src="./view/front/js/jquery.inview.js"></script>

<!-- Smooth Scrolling -->
<script type="text/javascript" src="./view/front/js/smoothscroll.js"></script>

<!-- Sticky Navigation -->
<script type="text/javascript" src="./view/front/js/jquery.sticky.js"></script>

<!-- Style Switcher -->
<script type="text/javascript" src="./view/front/js/jquery.style-switcher.js"></script>

<!-- Clients Slider -->
<script type="text/javascript" src="./view/front/js/jquery.flexisel.js"></script>

<!-- Retina JS -->
<script type="text/javascript" src="./view/front/js/retina-1.1.0.min.js"></script>

<!--<title>html5星空太空粒子动画库插件</title>-->
<script src="./view/front/js/particles.js"></script>
<script src="./view/front/js/app.js"></script>
<script>
    $(document).ready(function(){
        $('.power').click(function(){
            window.location.href='http://blog.hellooo.com.cn/';
        });
    });
</script>

</body>
</html>