<!--include--top.html-->
<?php  include(ROOT . 'view/front/top.html'); ?>
  
<!-- SEQUENCE SLIDER Change Styles at the sequence-slider.css file --> 

<div id="top-slider">
    <!--星空 id="particles-js"-->
	<div class="slider-bg" id="particles-js"></div>
		   <div class="container">
           <div id="sequence">
				<img class="sequence-prev" src="./view/front/img/button-previous.svg" alt="Previous Frame" />
				<img class="sequence-next" src="./view/front/img/button-next.svg" alt="Next Frame" />

				<ul class="sequence-canvas">
					<li class="animate-in">
						<h2 class="title">轮播图1的标题</h2>
						<h3 class="subtitle">轮播图1的内容</h3>
                        <!--<h1 class="slider-image" style="line-height: 568px;">轮播图2的内容</h1>-->
						<img class="slider-image" src="./view/front/img/slider/1.png" alt="Image" />
					</li>
					<li>
						<h2 class="title">轮播图2的标题</h2>
						<h3 class="subtitle">轮播图2的内容</h3>
                        <!--<h1 class="slider-image" style="line-height: 568px;">轮播图2的内容</h1>-->
						<img class="slider-image" src="./view/front/img/slider/2.png" alt="Image" />
					</li>
					<li>
						<h2 class="title">轮播图3的标题</h2>
						<h3 class="subtitle">轮播图3的内容</h3>
                        <!--<h1 class="slider-image" style="line-height: 568px;">轮播图2的内容</h1>-->
                        <img class="slider-image" src="./view/front/img/slider/3.png" alt="Image" />
					</li>
                    <!--<li>
                        <h2 class="title">轮播图4的标题</h2>
                        <h3 class="subtitle">轮播图4的内容</h3>
                        <img class="slider-image" src="img/slider/3.png" alt="Image" />
                    </li>
                    <li>
                        <h2 class="title">轮播图5的标题</h2>
                        <h3 class="subtitle">轮播图5的内容</h3>
                        <img class="slider-image" src="img/slider/3.png" alt="Image" />
                    </li>-->
				</ul>

				<ul class="sequence-pagination">
					<li><img src="./view/front/img/pagination-dot.svg" alt="Image" /></li>
					<li><img src="./view/front/img/pagination-dot.svg" alt="Image" /></li>
					<li><img src="./view/front/img/pagination-dot.svg" alt="Image" /></li>
                    <!--<li><img src="img/pagination-dot.svg" alt="Image" /></li>
                    <li><img src="img/pagination-dot.svg" alt="Image" /></li>-->
				</ul>

          </div>
          
    </div>
</div>

<!-- SEQUENCE SLIDER END -->
   
<!-- ABOUT US -->
<!-- 关于我们-->
<div id="about">

 <div class="container">
 
   <!-- BUY AND LIKE BUTTONS (YOU CAN DELET THEM IF YOU DONT USE) -->
  
   <div class="col-lg-12 col-md-12 col-xs-12">
      
      <!--<div class="col-lg-6 col-md-6 col-xs-6 btn-buy">
        <p><a class="btn btn-primary btn-top" href="#" role="button">Home</a></p>
      </div>-->
   
      <!--<div class="col-lg-6 col-md-6 col-xs-6 btn-like">
        <p><a class="btn btn-primary btn-top" href="http://www.facebook.com/share.php?u=http://www.fabianbentz.de/demo/threesixty/index.html" role="button">呵呵呵呵</a></p>
      </div>-->
      
   </div>
   
   <!-- BUY AND LIKE BUTTONS END (YOU CAN DELET THEM IF YOU DONT USE) -->
    
    <div class="center-block head">
       <h1>关于我们</h1>
       <hr class="head-border-grey">
        <p class="subhead">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
    </div>
      
        <div class="agency col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
         <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
         <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
            <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
        <div class="skills">

             <!--<ul id="skillbar">
			    
	            <li><span class="skillbar html"></span><p>HTML</p></li>
	   
	            <li><span class="skillbar css"></span><p>CSS</p></li>

	            <li><span class="skillbar java"></span><p>JAVASCRIPT</p></li>

	            <li><span class="skillbar php"></span><p>PHP</p></li>

	            <li><span class="skillbar psd"></span><p>PHOTOSHOP/ILLUSTRATOR</p></li>
            </ul>-->
         
        </div>
        
       </div>
       
<!-- About Us Slider. Change Styles at the jquery.bxlsider.css file -->

       <div class="col-lg-5 col-md-5">
            <ul class="aboutus">
			  <li>
				<img class="img-responsive" src="./view/front/img/agency-img3.jpg" alt="YOUR TEXT HERE">
			  </li>
			  
		      <li>
		       <img class="img-responsive" src="./view/front/img/agency-img2.jpg" alt="YOUR TEXT HERE">
		     </li>
		     
		     <li>
		       <img class="img-responsive" src="./view/front/img/agency-img.jpg" alt="YOUR TEXT HERE">
		     </li>
            <!--<li>
                <img class="img-responsive" src="img/agency-img.jpg" alt="YOUR TEXT HERE">
            </li>
            <li>
                <img class="img-responsive" src="img/agency-img.jpg" alt="YOUR TEXT HERE">
            </li>-->
		
		  </ul>

       </div>
         
 </div>
</div>

<!-- ABOUT END -->








<!-- SERVICE -->
     
<div id="service">

  <div class="container">

    <div class="row">
    
     <div class="center-block head">
       
       <div class="col-lg-12 col-md-12 col-xs-12">
     
        <h1>最新动态</h1>
        <hr class="head-border-white">
         <p class="subhead">我们的近况</p>
       </div>
          
      </div>
      
        <!-- SERVICE COLUMNS -->   
        <div class="col-lg-4 col-md-4 service">
         <div class="service-col">
         
           <div class="icon-desktop rotate">
               <a href=""><img src="./view/front/img/icons/webdesign.png" alt=""></a>
           </div>
           
          <h4>最新动态1111</h4>
          <p>最新动态内容1111</p>
          
         </div>
        </div>

        <div class="col-lg-4 col-md-4 service">
            <div class="service-col">

                <div class="icon-desktop rotate">
                    <a href=""><img src="./view/front/img/icons/webdesign.png" alt=""></a>
                </div>

                <h4>最新动态标题1111</h4>
                <p>最新动态内容1111</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-4 service">
            <div class="service-col">

                <div class="icon-desktop rotate">
                    <a href=""><img src="./view/front/img/icons/webdesign.png" alt=""></a>
                </div>

                <h4>最新动态标题1111</h4>
                <p>最新动态内容1111</p>

            </div>
        </div>
      
      <!--<div class="center-block service-btn">
         <p class="center"><a class="btn btn-hire btn-primary" href="#contact" role="button">联系我们</a></p>
      </div>-->
      
     </div>
   </div>
</div>

<!-- SERVICE END -->


<!-- PORTFOLIO -->

<div id="portfolio">

    <div class="container">

        <div class="center-block head">

            <div class="col-lg-12 col-md-12 col-xs-12">

                <h1>课堂照片</h1>
                <hr class="head-border-white">
                <p class="subhead">我们的教室</p>
            </div>

        </div>


        <div class="clearfix"></div>

        <div id="Grid" class="row gallery">

            <div class="col-lg-3 col-md-6 col-sm-12 images mix cat_2 all">
                <div class="image">
                    <div class="overlay">

                        <div class="caption">
                            <h5>Thumbnail Headline</h5>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                            <p>
                                <a href="./view/front/img/portfolio/3.jpg" title="ZOOM" class="magnific-popup btn btn-primary">Zoom</a>
                            </p>
                        </div>

                        <img class="img-responsive" src="./view/front/img/portfolio/3.jpg" alt="" />

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 images mix cat_2 all">
                <div class="image">
                    <div class="overlay">

                        <div class="caption">
                            <h5>Thumbnail Headline</h5>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                            <p>
                                <a href="./view/front/img/portfolio/3.jpg" title="ZOOM" class="magnific-popup btn btn-primary">Zoom</a>
                            </p>
                        </div>

                        <img class="img-responsive" src="./view/front/img/portfolio/3.jpg" alt="" />

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 images mix cat_2 all">
                <div class="image">
                    <div class="overlay">

                        <div class="caption">
                            <h5>Thumbnail Headline</h5>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                            <p>
                                <a href="./view/front/img/portfolio/3.jpg" title="ZOOM" class="magnific-popup btn btn-primary">Zoom</a>
                            </p>
                        </div>

                        <img class="img-responsive" src="./view/front/img/portfolio/3.jpg" alt="" />

                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 images mix cat_2 all">
                <div class="image">
                    <div class="overlay">

                        <div class="caption">
                            <h5>Thumbnail Headline</h5>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                            <p>
                                <a href="./view/front/img/portfolio/3.jpg" title="ZOOM" class="magnific-popup btn btn-primary">Zoom</a>
                            </p>
                        </div>

                        <img class="img-responsive" src="./view/front/img/portfolio/3.jpg" alt="" />

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- PORTFOLIO -->

<div id="team">
    <div class="container">

        <div class="row">

            <div class="center-block head">

                <div class="col-lg-12 col-md-12 col-xs-12">

                    <h1 class="">我们的教师团队</h1>
                    <hr class="head-border-white">
                    <p class="subhead">团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍团队介绍</p>

                </div>

            </div>

            <!-- TEAM MEMBER -->

            <div class="col-lg-3 col-md-3">
                <div class="team team-member1">

                    <div class="member1 rotate"></div>

                    <h5>张三丰</h5>

                    <p class="job">资深教师</p>

                    <p>教学经历内容内容内容内容内容内容内容</p>

                    <p class="social-team">
                        <a class="facebook" href=""><i class="fa fa-facebook-square fa-1-5x"></i></a>
                        <a class="twitter" href=""><i class="fa fa-twitter-square fa-1-5x"></i></a>
                        <a class="linkedin" href=""><i class="fa fa-linkedin-square fa-1-5x"></i></a>
                        <a class="pinterest" href=""><i class="fa fa-pinterest-square fa-1-5x"></i></a>
                        <a class="instagram" href=""><i class="fa fa-instagram fa-1-5x"></i></a>
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-3">
                <div class="team team-member1">

                    <div class="member1 rotate"></div>

                    <h5>张三丰</h5>

                    <p class="job">教师</p>

                    <p>教学经历内容内容内容内容内容内容内容</p>

                    <p class="social-team">
                        <a class="facebook" href=""><i class="fa fa-facebook-square fa-1-5x"></i></a>
                        <a class="twitter" href=""><i class="fa fa-twitter-square fa-1-5x"></i></a>
                        <a class="linkedin" href=""><i class="fa fa-linkedin-square fa-1-5x"></i></a>
                        <a class="pinterest" href=""><i class="fa fa-pinterest-square fa-1-5x"></i></a>
                        <a class="instagram" href=""><i class="fa fa-instagram fa-1-5x"></i></a>
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-3">
                <div class="team team-member1">

                    <div class="member1 rotate"></div>

                    <h5>张三丰</h5>

                    <p class="job">教师</p>

                    <p>教学经历内容内容内容内容内容内容内容</p>

                    <p class="social-team">
                        <a class="facebook" href=""><i class="fa fa-facebook-square fa-1-5x"></i></a>
                        <a class="twitter" href=""><i class="fa fa-twitter-square fa-1-5x"></i></a>
                        <a class="linkedin" href=""><i class="fa fa-linkedin-square fa-1-5x"></i></a>
                        <a class="pinterest" href=""><i class="fa fa-pinterest-square fa-1-5x"></i></a>
                        <a class="instagram" href=""><i class="fa fa-instagram fa-1-5x"></i></a>
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-3">
                <div class="team team-member1">

                    <div class="member1 rotate"></div>

                    <h5>张三丰</h5>

                    <p class="job">教师</p>

                    <p>教学经历内容内容内容内容内容内容内容</p>

                    <p class="social-team">
                        <a class="facebook" href=""><i class="fa fa-facebook-square fa-1-5x"></i></a>
                        <a class="twitter" href=""><i class="fa fa-twitter-square fa-1-5x"></i></a>
                        <a class="linkedin" href=""><i class="fa fa-linkedin-square fa-1-5x"></i></a>
                        <a class="pinterest" href=""><i class="fa fa-pinterest-square fa-1-5x"></i></a>
                        <a class="instagram" href=""><i class="fa fa-instagram fa-1-5x"></i></a>
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- TEAM  END-->



<!-- PRICE -->

<div id="price">

    <div class="container">
        <div class="row">

            <div class="center-block head tables">

                <div class="col-lg-12 col-md-12 col-xs-12">

                    <h1>热门课程</h1>
                    <hr class="head-border-grey">
                    <p class="d-grey center">课程介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>

                </div>
            </div>


            <!-- PRICE TABLES -->
            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <!-- PRICE TABLES -->
            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <!-- PRICE TABLES -->
            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <!-- PRICE TABLES -->
            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3">
                <div class="price-table">
                    <div class="price-table-heading">
                        <h3 class="price-table-title lead d-grey">
                            二胡
                        </h3>
                    </div>
                    <div class="price-table-body">
                        <div class="the-price white">
                            <h1>
                                ￥100<span class="month">元</span></h1>
                            <small>1 小时</small>
                        </div>
                    </div>
                    <div class="price-table-footer">
                        <a href="" class="btn btn-lg btn-primary" role="button">详情</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="center-block service-btn">
            <p class="center"><a class="btn btn-hire btn-primary" href="#contact" role="button">更多课程</a></p>
        </div>
    </div>
</div>

<!-- PRICE END -->


<!-- PROCESS -->

<div id="process">

  <div class="container">
      <div class="row">
    
      <div class="center-block head">
      
       <div class="col-lg-12 col-md-12 col-xs-12">
        <h1>更多的内容</h1>
        <hr class="head-border-white">
          <p class="subhead center">更多的内容更多的内容更多的内容更多的内容更多的内容更多的内容</p>
       </div>
      </div>
      <div class="our-process">
           
             <div class="process">
                <div class="col-lg-4 process-con img1">
                   <div class="process-img rotate">
                       <a href=""><img src="./view/front/img/icons/idea.png" alt=""></a>
                   </div>
                   <h5>描述描述描述</h5>
                </div>
                
               <div class="col-lg-4 process-con img2">
                 <div class="process-img rotate">
                     <a href=""><img src="./view/front/img/icons/creation.png" alt=""></a>
                 </div>
                 <h5>描述描述描述描述</h5>
               </div>
               
               <div class="col-lg-4 process-con img3">
                 <div class="process-img rotate">
                     <a href=""><img src="./view/front/img/icons/presentation.png" alt=""></a>
                 </div>
                 <h5>描述描述描述描述描述</h5>
               </div>

            </div>

       </div>

   </div>
  </div>
  
</div>

<!-- PROCESS END -->

</div>

<!-- CLIENTS END -->
<!-- CONTACT -->

<div id="contact">

  <div class="container">
     <div class="row">
      <div class="center-block head">
       <div class="col-lg-12 col-md-12 col-xs-12">
         <h1>反馈意见</h1>
         <hr class="head-border-grey">
           <p class="center">感谢您提出宝贵的意见！</p>
       </div>
    </div>
      
      <!-- CONTACT FORM -->
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 form">
      <!--FORM -->
      <form action="contact.php" class="form-horizontal" role="form" id="contactForm" method="post" name="contactForm">
            
            <div class="form-group">
               
                <div class="col-sm-12">
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Name*">
                </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email*">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="text" class="form-control input-lg" name="phone" id="phone" placeholder="Phone">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <textarea class="form-control input-lg" rows="10" name="message" id="message" placeholder="Message*"></textarea>
                  </div>
            </div>
            <div class="control-group submit center">
               <input class="btn btn-lg btn-primary" type="submit" value="提交">
            </div>

           </form>

      </div>
      
     </div>
  </div>
</div>

<!-- CONTACT END -->

<!-- GOING UP ARROW -->

<div class="col-lg-12">
  <div class="up"><a href="#about"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
</div>

<!-- GOING UP ARROW END -->

<!-- SOCIAL MEDIA DIVIDER -->

<div id="divider">
		<div class="divider-bg"></div>

  <div class="container">
  
	<div class="row">
        <div class="col-12-lg social-media">
        
    		<!--<div class="social-icons">

                <a class="social-media facebook" href=""><i class="fa fa-facebook-square fa-8x"></i></a>
				<a class="social-media white twitter" href=""><i class="fa fa-twitter-square fa-8x"></i></a>
				<a class="social-media white linkedin" href=""><i class="fa fa-linkedin-square fa-8x"></i></a>
				<a class="social-media white pinterest" href=""><i class="fa fa-pinterest-square fa-8x"></i></a>
				<a class="social-media white google" href=""><i class="fa fa-google-plus-square fa-8x"></i></a>
				<a class="social-media white tumblr" href=""><i class="fa fa-tumblr-square fa-8x"></i></a>
				<a class="social-media white instagram" href=""><i class="fa fa-instagram fa-8x"></i></a>

            </div>  -->
              
        </div>
	</div>
  
  </div>

</div>

<!-- SOCIAL MEDIA DIVIDER END -->

<!--include--foot-->
<?php  include(ROOT . 'view/front/foot.html'); ?>